* {
  box-sizing: border-box;
  background-color: #2a607c;
  color: #fff; 
}

:root {
  /* sets colors for page */
  --background: #181517;
 
  --accent: #b9c6ae;
    }
body 
{ 
  background: var(--background); 
  color: var(accent);
  font-family: 'Rajdhani', sans-serif;
  margin: 0;
}
 .name {
   font-weight:bold;
   font-size:45px;
   padding-bottom: 60px;
 }

 
.projectswrap {
  /* Turns this element into a flexbox */
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2%;
}

.main-header {
  display: flex;
  justify-content: space-between;
  height: 150px;
  padding: 60px;
  color: #fff;
}
  li {
    text-justify: right;
      display:inline;
      
      font-size: 30px;
      padding: 10px; 
    }
    h2 {
      margin-left: 40px;
      display: block;
      text-align: left;

    }

  #aboutme 
  img {
    height: 300px;
    padding: 20;
    border: 10px;
    border-color: gray;
    border-style: solid;
    border-radius: 10px;
    margin: 20px 20px 20px 100px;
     float: left;
    }
  #abouttitle {
        font-size: 30;
  }
  p { 
    display: inline;
    margin: bottom 50px;
    font-size: 25px;
  }

  .projectheader {
    display: block;
    margin: bottom 75px
  }
.card {
  /* A flex-basis of 200px sets the starting width */
  /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
  color: var(--accent);
  background: gray;
  
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  margin: 15px;
  transition: all 1s;
    }

.cardimage {
  width: 200px;
  height: 200px;
  padding-top: 50px;
}

/* Resize images */
.container img {
    width: auto;
    height: 150px;
}


.card header {
  padding: 10px;
  background: var(--background);
  color: var(--bright);
  border-style: solid;
  border-radius: 5px;
  border-color: var(--accent);
  text-align: center;
  font-size: 22px;
      }

.card:hover {
  background: linear-gradient(90deg, rgb(91, 158, 247), rgb(40, 49, 75));
}

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 75%;
  color: #fff;
}

@media screen and (min-width: 769px) {
  .card {
    width: 27%;
  }
}

@media screen and (max-width: 768px) {
.card {
  width: 50%;
}
}

@media screen and (max-width: 576px) {
.card {
  width: 100%;
}
}

